{% extends "base.html" %}
{% load static %}

{% block title %} Rejestracja {% endblock %}

{% block extra_header %}{% endblock %}

{% block headerclass %}{% endblock %}


{% block content %}
    <section class="login-page">
        <h2>Załóż konto</h2>
        <form action="#" method="POST">
            {% csrf_token %}
            {% if messages %}
                <div class="form-group">
                    {% for message in messages %}
                        <h1>{{ message }}</h1>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="form-group">
                {% for error in form.non_field_errors %}
                    <h1>{{ error }}</h1>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.first_name.errors }}
                {{ form.first_name }}
            </div>
            <div class="form-group">
                {{ form.last_name.errors }}
                {{ form.last_name }}
            </div>
            <div class="form-group">
                {{ form.email.errors }}
                {{ form.email }}
            </div>
            <div class="form-group">
                {{ form.password.errors }}
                {{ form.password }}
            </div>
            <div class="form-group">
                {{ form.password2.errors }}
                {{ form.password2 }}
            </div>
            <div class="form-group form-group--buttons">
                <a href="{% url 'login' %}" class="btn btn--without-border">Zaloguj się</a>
                <button class="btn" type="submit">Załóż konto</button>
            </div>
        </form>
    </section>
{% endblock %}